<a href="https://colab.research.google.com/github/deepikagoel1/Edufabrica-aiml/blob/main/29_June_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('IPL 2008_17.csv')

In [ ]:
del df['Unnamed: 17']

In [ ]:
df.head(1)

,sno,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,Man_of_Match,venue,F_umpire,S_Umpire
0,1,2008,Bangalore,18/04/08,KKR,RCB,RCB,field,normal,N,KKR,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen

In [ ]:
ipl = df[['season','team1','team2','toss_winner','toss_decision','winner','win_by_wickets','win_by_runs']]
ipl.head(1)

,season,team1,team2,toss_winner,toss_decision,winner,win_by_wickets,win_by_runs
0,2008,KKR,RCB,RCB,field,KKR,0,140

### no of matches played in every season

In [ ]:
season_counts = ipl.season.value_counts().tolist()
season        = ipl.season.unique().tolist()
dictionary    = dict(zip(season, season_counts))
for values in dictionary:
    print(f'No of matches played in Season {values} is : {dictionary[values]}')

No of matches played in Season 2008 is : 76
No of matches played in Season 2009 is : 74
No of matches played in Season 2010 is : 73
No of matches played in Season 2011 is : 60
No of matches played in Season 2012 is : 60
No of matches played in Season 2013 is : 60
No of matches played in Season 2014 is : 59
No of matches played in Season 2015 is : 59
No of matches played in Season 2016 is : 58
No of matches played in Season 2017 is : 57

### Evaluating the Winning Percentage of MI based on factors :

i.   When MI is winning the toss <br>
ii.  When MI is Batting <br>
iii. When MI is fileding <br>
iv.  When MI is playing with other teams <br>

`Evaluating pieces`

In [ ]:
Teams_playing = ipl.team1.unique().tolist()
mi_matches = ipl[(ipl.team1 == 'MI') |(ipl.team2 == 'MI') ]
mi_toss_win = mi_matches[(mi_matches.toss_winner == 'MI') & (mi_matches.winner == 'MI')]
Total_MI_won = mi_matches[(mi_matches.winner == 'MI')].shape[0]
TotalMItoss_win = mi_matches[mi_matches.toss_winner == 'MI'].shape[0]
TotalMatches_MI = mi_matches.shape[0]
Totaltoss_winning_MI = mi_toss_win.shape[0]

`i. Win Percentage when MI win the toss`

In [ ]:
mi_toss_win.shape

(48, 8)

In [ ]:
print('Total Matches MI played: ', TotalMatches_MI)
print('Total Matches MI won   : ', Total_MI_won )
print('Total Toss MI Won      : ', TotalMItoss_win)
print('Total Matches MI WON along Toss Win : ', Totaltoss_winning_MI)

Total Matches MI played:  157
Total Matches MI won   :  92
Total Toss MI Won      :  85
Total Matches MI WON along Toss Win :  48

In [ ]:
win_percentage_MI = round((Totaltoss_winning_MI / TotalMItoss_win)*100, 2)
print('Chances of winning of MI when MI wins the toss is : ', win_percentage_MI,'%')

Chances of winning of MI when MI wins the toss is :  56.47 %

`ii. when MI is batting`

In [ ]:
Toss_decision= mi_matches[mi_matches['toss_decision'] == 'bat']
MI_batting_count = Toss_decision.shape[0]
winning_with_batting = Toss_decision[Toss_decision['winner'] == 'MI']
win_with_bat_count = winning_with_batting.shape[0]

In [ ]:
print('Total Matches MI played: ', TotalMatches_MI)
print('Total Matches MI won   : ', Total_MI_won )
print('Total MI Batting Count : ', MI_batting_count)
print('Total Matches MI WON while Batting : ', win_with_bat_count)
print('Total Lost Matches while Batting : ', MI_batting_count - win_with_bat_count)

Total Matches MI played:  157
Total Matches MI won   :  92
Total MI Batting Count :  70
Total Matches MI WON while Batting :  41
Total Lost Matches while Batting :  29

In [ ]:
win_percentage_MI = round((win_with_bat_count / MI_batting_count)*100, 2)
print('Chances of winning of MI when MI choose to bat is : ', win_percentage_MI,'%')

Chances of winning of MI when MI choose to bat is :  58.57 %

`iii. When MI is fielding`

In [ ]:
Toss_decision = mi_matches[mi_matches['toss_decision'] == 'field']
MI_fielding_count = Toss_decision.shape[0]
winning_while_field = Toss_decision[Toss_decision['winner'] == 'MI']
win_while_field_count = winning_while_field.shape[0]

In [ ]:
print('Total Matches MI played: ', TotalMatches_MI)
print('Total Matches MI won   : ', Total_MI_won )
print('Total MI Fielding Count : ', MI_fielding_count)
print('Total Matches MI WON while Fielding : ', win_while_field_count)
print('Total Lost Matches while Fielding : ', MI_fielding_count - win_while_field_count)

Total Matches MI played:  157
Total Matches MI won   :  92
Total MI Fielding Count :  87
Total Matches MI WON while Fielding :  51
Total Lost Matches while Fielding :  36

In [ ]:
win_percentage_MI = round((win_while_field_count / MI_fielding_count)*100, 2)
print('Chances of winning of MI when MI choose to bat is : ', win_percentage_MI,'%')

Chances of winning of MI when MI choose to bat is :  58.62 %

In [ ]:
mi_matches['winner'].value_counts()[1:]

KXIP    10
CSK     10
DD       9
RCB      8
RR       6
SH       5
KKR      5
RPS      4
DC       4
GL       2
KTK      1
PW       1
Name: winner, dtype: int64

In [ ]:
total_teams_matches = mi_matches['team1'].value_counts() +  mi_matches['team2'].value_counts()
total_teams_matches.fillna(1.0, inplace= True)
total_teams_matches.sort_values()[:-1]

KTK      1.0
GL       4.0
PW       6.0
RPS      6.0
DC      10.0
SH      10.0
RR      16.0
DD      20.0
KXIP    20.0
KKR     21.0
RCB     21.0
CSK     22.0
dtype: float64

In [ ]:
mi_matches

,season,team1,team2,toss_winner,toss_decision,winner,win_by_wickets,win_by_runs
3,2008,MI,RCB,MI,bat,RCB,5,0
7,2008,CSK,MI,MI,field,CSK,0,6
9,2008,KXIP,MI,MI,field,KXIP,0,66
12,2008,MI,DC,DC,field,DC,10,0
15,2008,KKR,MI,KKR,bat,MI,7,0
...,...,...,...,...,...,...,...,...
626,2017,KXIP,MI,MI,field,KXIP,0,7
629,2017,MI,KKR,KKR,field,MI,0,9
632,2017,RPS,MI,MI,field,RPS,0,20
634,2017,KKR,MI,MI,field,MI,6,0
635,2017,MI,RPS,MI,bat,MI,0,1

In [ ]:
mi_matches[mi_matches.team1 != 'MI']['team1'].value_counts()

KXIP    13
KKR     12
RCB     10
CSK     10
SH       6
RR       6
DC       5
DD       5
RPS      3
PW       3
GL       2
Name: team1, dtype: int64