<a href="https://colab.research.google.com/github/deepikagoel1/Edufabrica-aiml/blob/main/A1_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2 align=center> You can be a Python Developer !</h2>
<h1 align=center>Complete the <code>Assignment 1</code></h1>

**Write a Python Program to calculate the length of a string given**

string  = 'Goods and Prices'

In [ ]:
string = 'Goods and Prices'
len(string)

16

**How would you check the Python version you are using in your system ?. Write the code.**

In [ ]:
from platform import python_version
print(python_version())

3.7.10

**Take the first name and last name from the user and get the last name printed first and the first in the last.**

In [ ]:
first = input("Enter your first name:")
last = input("Enter your last name")

print(last + " " + first)

Enter your first name:Deepika
Enter your last nameGoel
Goel Deepika

**Lets Say num = 5 , Now calculate the the vaule of ( num  - cube + num - square + num ) using Operators**

In [ ]:
num = 5

print(num - num ** 3 + num - num ** 2)

-140

**Take 3 integer inputs from the user and return the sum of all the numbers to the user.**

In [ ]:
a = int(input("Enter the first number"))
b = int(input("Enter the first number"))
c = int(input("Enter the first number"))

def sum1(a, b, c):
  return a + b + c

sum1(a, b, c)

Enter the first number10
Enter the first number20
Enter the first number30

60

**Suppose x and y are the two variables having some values, and x-y = 5 and x + y = 5 . Then Find the value of ( x-square  -   y-square ).**

In [ ]:
import random

x = random.randint(1, 100)

y = random.randint(1, 100)

x = y + 5
x = 5 - y


print(x ** 2 - y ** 2)

-105

**Convert the following types to Integer Datatype**

**Numbers :** 45.3, -0, 2.85, 05.45, 23.6

In [ ]:
list1 = [45.3, -0, 2.85, 05.45, 23.6]
new_list = []
for i in list1:
  d = int(i)
  new_list.append(d)
print(new_list)

[45, 0, 2, 5, 23]

**Which of the following is a variable and which of the following in a String ?. Discuss**

x = 'variable'

x = 56

## X is a string because it stores the value "Variable" that is defined within the single quotes or double quotes.

## X is a variable of integer type that stores the value 56.

**Name the Data Types learnt till now in Python**

## Data Types that learnt till now are: string, integer, float, list, dictionary, tuples.

**What does the variable contain after the following code runs?**

variable = 20
variable + 1

In [ ]:
variable = 20 
variable + 1
print(variable)

20

## It will contain the value as 20 only because of the post increment. First assign then increment.

**What will the two expressions will evaluate**?

*italicized text*'expression_1' + 'expression_2'
'expression_1' * 3

In [ ]:
'expression_1' + 'expression_2'

'expression_1expression_2'

In [ ]:
'expression_1' * 3

'expression_1expression_1expression_1'

**Why x is a Valid variable and 100 is invalid ?**

## X is a valid variable because it contains the name of the container and in any coding language we have to follow some protocols so variable names never starts with a number.

**Why does the statement caiuse an error ?**

print('Artificial Intelligence was first coined in the year = ' + 1999)

## Because we try to concatenate the string with the integer that is without doing typecasting the integer to strings.

Notebook created by: <a href = "https://www.linkedin.com/in/sumitkumarshukla/">Sumit Kumar Shukla</a>