<a href="https://colab.research.google.com/github/deepikagoel1/Edufabrica-aiml/blob/main/Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Calculte the sum of the digits of a 3 - digit random number

In [1]:
from random import random

n = random() * 900 + 100
n = int(n)
print(n)

a = n // 100
b = (n // 10) % 10
c = n % 10

print(a+b+c)

460
10

#### Determine the percntage of lowercase and upper case in a string

In [5]:
sentence = "Hello World"
upper = 0
lower = 0
for i in sentence:
  if i >='A' and i <= 'Z':
    upper += 1
  elif i >= 'a' and i <= 'z':
    lower += 1
print("Upper case: " + str(upper))
print("Lower case: " + str(lower))

print("Upper Case percentage: ", (upper/len(sentence))*100)
print("Lower Case percentage: ", (lower/len(sentence))*100)

Upper case: 2
Lower case: 8
Upper Case percentage:  18.181818181818183
Lower Case percentage:  72.72727272727273

#### Find the longest word in a string

In [6]:
string = "Python is a great langauge"

#split string
str_list = string.split()

#sort list by length
list_s = sorted(str_list, key=len) 

#print the last item of list
print(list_s[-1])

langauge

#### Take random 1000 numbers and seperate a list of positive and negative numbers from it

In [21]:
import random

number = [i for i in range(-1, 1001)]

pos = [i for i in number if i > 0]

neg = [i for i in number if i < 0 ]

print("positive numbers: ",pos)
print("negative numbers: ",neg)

positive numbers:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]
negative numbers:  [-1]

#### Determine the letter number in an alphabet

*   List item
*   List item

In [28]:
import string
alphadict = dict((x, i + 1) for i, x in enumerate(string.ascii_lowercase))
alphadict['b']

2

#### Check the divisibilty of a number by the another number.

In [29]:
def multiple(m, n):
	return True if m % n == 0 else False

print(multiple(20, 5))
print(multiple(7, 2))

True
False

#### Is is possibe to form a trinagle wiht user given points ?

In [37]:
import math

def semi_prmtr(a,b,c):
    return (a+b+c)/2

def is_triangleV2(x,y,z):
    if(z>(x+y)):
        return False
    elif(y>(x+z)):
        return False
    elif(x>(z+y)):
        return False
    else:
        return True
 
def tri_Area(a,b,c):
    if(is_triangleV2(a,b,c)):
        s = semi_prmtr(a,b,c)
        area = math.sqrt(s*(s-a)*(s-b)*(s-c))
        return area
    else:
        print("Invalid Triangle")
 		
print(is_triangleV2(3, 4, 5))
print(tri_Area(3, 4, 5))
print(is_triangleV2(1, 2, 3))
print(tri_Area(1, 2, 3))

True
6.0
True
0.0

#### calculate the mass, density and volume given by the user

In [38]:
mass = int(input("Enter the mass of a cuboid"))
volume = int(input("Enter the volume of a cuboid"))

density = mass / volume

print(density)

Enter the mass of a cuboid5000
Enter the volume of a cuboid2500
2.0

#### Check if theo followings sets are disjoint or not ?

In [40]:
set1 = {1, 2, 5, 6}
set2 = {7, 9, 3, 4}

In [44]:
set1 = list(set1)
set2 = list(set2)
def areDisjoint(set1, set2, m, n):
    # Take every element of set1[] and search it in set2
    for i in range(0, m):
        for j in range(0, n):
            if (set1[i] == set2[j]):
                return False
 
    # If no element of set1 is present in set2
    return True

m = len(set1)
n = len(set2)

if areDisjoint(set1, set2, m, n):
  print("yes") 
else:
  print("No")

yes

**Create a Function that can find the sum of more than 2 argumnents** Hint: args

In [45]:
def summ(num1, *args):
    total = num1
    for num in args:
        total = total + num
    return total

print(summ(1, 2, 3))

print(summ(1, 2, 3, 4, 5, 6, 7))

6
28

**Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of them. And also it must return both addition and subtraction in a single return call**

In [46]:
def calculation(a, b):
    return a+b, a-b
 
res = calculation(40, 10)
print(res)

(50, 30)

**Create a function showEmployee() in such a way that it should accept employee name, and its salary and display both. If the salary is missing in the function call assign default value 9000 to salary**

In [47]:
def showEmployee(name, salary=9000):
    print("Employee", name, "salary is:", salary)

showEmployee("Ben", 9000)
showEmployee("Ben")

Employee Ben salary is: 9000
Employee Ben salary is: 9000

**Find the last position of a substring “Emma” in a given string**

In [48]:
str1 = "Emma is a data scientist who knows Python. Emma works at google."

In [50]:
tar_word = "Emma"

# printing original string 
print("The original string : " + str(str1))
  
# using rindex()
# Find last occurrence of substring
res = str1.rindex(tar_word)
  
# print result
print("Index of last occurrence of substring is : " + str(res))

The original string : Emma is a data scientist who knows Python. Emma works at google.
Index of last occurrence of substring is : 43

**Split a given string on hyphens into several substrings and display each substring**

In [54]:
str1 = 'Emma-is-a-data-scientist'
a = str1.split('-')
print(str1.split('-'))
print((',').join(a))

['Emma', 'is', 'a', 'data', 'scientist']
Emma,is,a,data,scientist



```
# This is formatted as code
```

**Merge following two Python dictionaries into one**

In [58]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict1.update(dict2)
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

**Rename key city to location in the following dictionary**

In [60]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
sampleDict["city"] = "India"

print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'India'}

**Display numbers from -10 to -1 using for loop**

In [64]:
num = [-i for i in range(1, 11)]

print(num[::-1])

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

**Use a loop to display elements from a given list that are present at even index positions**

In [65]:
num = [i for i in range(1, 20) if i %2 == 0]
print(num)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

**Display float number with 2 decimal places using print()**

In [69]:
number = 3.142356898
f = '{0:.3g}'.format(number)
print(f)

3.14